{% extends 'restaurants/base.html' %}

{% block content %}
<div class="container py-5 text-center">
    <div class="auth-card shadow-lg p-5">
        <div class="mb-4">
            <i class="fas fa-check-circle fa-5x text-success"></i>
        </div>
        <h2 class="auth-title">Бронь успешно создана!</h2>
        <p class="lead mb-5">Наш менеджер свяжется с вами в ближайший час для подтверждения.</p>

        <div class="d-flex justify-content-center gap-3">
            {% if user.is_authenticated %}
                <a href="{% url 'reservations:reservation_list' %}" class="btn btn-berloga">
                    <i class="fas fa-list me-2"></i> Мои брони
                </a>
            {% endif %}
            <a href="{% url 'events:events_list' %}" class="btn btn-outline-berloga text-center">
                <i class="fas fa-home me-2 "></i> На главную
            </a>
        </div>
    </div>
</div>
{% endblock %}
