{% extends 'restaurants/base.html' %}
{% block title %} Подтверждение почты {% endblock %}
{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col 3"></div>
        <div class="col-6 mt-5">
            <form method="post" class="mt-1">
                {% csrf_token %}
                <label for="verification_code">Введите код подтверждения:</label>
                <input type="text" class="text-light bg-primary-subtle" name="verification_code" required>
                <button type="submit"class="btn btn-light text-end ">Подтвердить</button>
            </form>
        </div>
        <div class="col 3"></div>
    </div>
</div>

{% endblock %}
